{% extends 'base.html' %}

{% block main %}
<div class="container"  style="margin-bottom:30px">
  {% if products%}

 <h2 class="text-center"  >Liked Products</h2>
  {%else%}
   <h2 class="text-center ml-5 " style="height:300px">No Liked Products</h2>
  {%endif%}
  <div class="row mt-5">
     {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
            {% include 'shop/components/product_row.html' %}
        </div>
        {% endfor %}
  </div>
</div>
{% include 'shop/components/sidebar.html'%}
{% endblock main %}